---
layout: default
title: Home
---
<div class="row homesection">  
      	<div class="twelve columns">
       		<h2><span class="icon icon-headphones"></span> Episodes</h2>
        	<ul class="posts">
        		{% for post in site.categories.episodes %}
     			<li><span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
    			{% endfor %}
        	</ul>
        </div>
        
        <div class="twelve columns">
          <h2><span class="icon icon-gamepad"></span> Gaming</h2>
          <ul class="posts">
            {% for post in site.categories.games %}
          <li><span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          </ul>
        </div>

        <div class="twelve columns">
          <h2><span class="icon icon-feather"></span> Posts</h2>
          <ul class="posts">
            {% for post in site.categories.posts %}
          <li><span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          </ul>
        </div>

        <div class="twelve columns">
       		<h2><span class="icon"><i class="icon-users-1"></i></span> Some People</h2>
        	<ul class="posts">
        		<li><a href="http://anthonykosednar.com" target="_blank">Anthony Kosednar</a><span> » Host</span></li>
        		<li><a href="http://speedlimitless.com/" target="_blank">Oliver von Mizener</a><span> » Co-Host</span></li>
        	</ul>
        </div>
        
    	</div>
      
	</div>