<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<head><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<head>
   <meta charset="UTF-8">

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ page.title }} | Reimmerse</title>

  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="/css/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/css/foundation.min.css?v=1.0">
  <link rel="stylesheet" href="/css/app.css?v=2.0.4">
  <link rel="stylesheet" href="/css/fontello.css">
  <link rel="stylesheet" href="/css/animation.css"><!--[if IE 7]>
  <link rel="stylesheet" href="/css/fontello-ie7.css"><![endif]-->
  <script src="/js/modernizr.foundation.js?v=1.0"></script>
</head>
<body>
  
  <!-- Header and Nav -->
  
  <div class="row">
    <div class="twelve columns">
      <div class="panel heading">
        <h1><a href="/">Reimmerse <i class="icon icon-rocket"></i></a></h1>
      </div>
    </div>
  </div>
  
  <!-- End Header and Nav -->
  
  
<div class="row">    
    
    <!-- Main Feed -->
    
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
	<div class="three columns">
      <div class="panel description">
      	<h5>About</h5>
      	<p>Born from the ashes of previous podcasts, Reimmerse features irregular podcasts and blogs that covers just about anything.</p>
        <h5>Social</h5>
        <span class="social"><a href="https://github.com/akosednar/"><i class="icon-github"></i></a> <a href="https://twitter.com/akosednar"><i class="icon-twitter-1"></i></a></span><span class="sicon"> <a href="http://reimmer.se/atom.xml"><i class="icon-rss"></i></a></span>
      </div>
    </div>

    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="nine columns">
    {{ content }}
    </div>
    
  </div>
    
    
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="three columns hide-for-small">
      <!-- <p><img src="http://placehold.it/300x440&text=[ad]" /></p> -->
    </aside>
    
  </div>
    
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright 2012-<span id="year">2013</span> <a href="http://anthonykosednar.com/" target="_blank">Anthony Kosednar</a></p>
        </div>
        <div class="six columns">
         	<p class="right">Something bottom right?</p>
        </div>
      </div>
    </div> 
  </footer>
  
  <!-- Included JS Files (Compressed) -->
  <script src="/js/jquery.js?v=1.0"></script>
  <script src="/js/foundation.min.js?v=1.0"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="/js/app.js?v=1.0"></script>

  <!-- Updated Copyright Year -->
  <script type="text/javascript">
  $(document).ready(function(){
          $("#year").html(new Date().getFullYear());
  });
  </script>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28077421-2', 'reimmer.se');
  ga('send', 'pageview');

</script>
</body>
</html>
